.forgotpwd{
    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
    color: #6C757D;
}
.min-height{
    min-height: 100vh;
    height: 100vh;
    // padding: 10px;
    // overflow-y: auto;
     }