.numberfield{
    background: rgba(2, 62, 138, 0.12);
    border: 1px solid #023E8A;
    border-radius: 8px;
    width: 57.33px;
    height: 54px;
}
.ant-input-number-input{
    margin-top: 7px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 20px !important;
    line-height: 30px;
    color: #FFFFFF !important;
}