@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
// @import '~antd/dist/antd.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply p-3
    }

    .link {
        @apply text-primary-P400 cursor-pointer hover:opacity-70 hover:text-primary-P400
    }
}

.w-40 {
    width: 30%;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background: #151521;
    caret-color: #92928f;
}

/* Custom bg and colors  */
.bg-custom-secondary {
    background-color: #1e1e2d;
}

.bg-custom-main {
    background: #151521;
}

.custom-text-light {
    color: #474761;
}

.custom-blue-bg {
    background-color: #3699ff;
}

.border-dashed-bottom {
    border-bottom: 1px dashed #323248;
}

.password-stength span {
    height: 4px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.407);
}

::-webkit-scrollbar-thumb {
    background-color: #4e89c9;
    border-radius: 10px;
    // background-image: linear-gradient(180deg, #333334 0%, #1e1e2d 99%);
    border-radius: 100px;
}

// SWITCH
.ant-switch {
    background-color: #323248;
    border-color: #323248;
    color: #92928f;
}

.ant-switch-checked {
    background-color: #3699ff;
    border-color: #3699ff;
    color: #fff;

    &:focus {
        border-color: #3699ff;
        box-shadow: unset;
    }
}

.ant-switch-loading,
.ant-switch-disabled {
    opacity: 0.8;
}

// CHECKBOX
.ant-checkbox-indeterminate {
    .ant-checkbox-inner {
        background-color: #3699ff;
        border-color: #3699ff;

        &:after {
            background-color: #fff;
        }
    }
}

.ant-checkbox {
    &:hover {
        .ant-checkbox-checked {
            &::after {
                border-radius: 4px;
            }
        }
    }
}

.ant-checkbox-checked {
    &:hover {
        border-radius: 4px;
    }

    .ant-checkbox-inner {
        background: #3699ff;
        border-radius: 4px;

        &:hover {
            border-radius: 4px;
        }
    }
}

.ant-checkbox-inner {
    background: #2b2b40;
    outline: none;
    border: none;
    border-radius: 4px;

    &:hover {
        border-radius: 4px;
    }
}

.ant-checkbox-disabled .ant-checkbox-inner {
    background: #5a5a6cbd;
}

// SELECT
.custom-select-dropdown {
    background-color: #171723 !important;

    .ant-select-item-option-content {
        color: #6d6d80 !important;
    }

    .ant-select-item-option:not(.ant-select-item-option-disabled):hover {
        &:hover {
            background-color: #28283a !important;
        }

        .ant-select-item-option-content {
            color: #fff !important;
        }
    }

    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
        background-color: #28283a !important;

        .ant-select-item-option-content {
            color: #fff !important;
        }
    }

    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        background-color: #28283a !important;

        .ant-select-item-option-content {
            color: #fff !important;
        }
    }
}

.custom-select-component {
    .ant-select {
        border-radius: 8px;

        .ant-select-selector {
            background-color: #171723;
            border-color: #171723;
            min-height: 52px;
            display: flex;
            align-items: center;
            padding: 0px;
            padding-left: 12px;
            border-radius: 8px;
        }

        .ant-select-selection-item {
            color: #92928f;
        }
    }
}

.custom-radio {

    .ant-radio-checked .ant-radio-inner,
    .ant-radio-inner {
        background-color: transparent;
        border-color: #323248;
    }
}

.custom-btn-primary {
    background-color: #3699ff;
}

.custom-btn-danger {
    background-color: #ff4d4f;
}

.error {
    color: #ff0000;
}
.title{

    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}
.subtitle{
    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6C757D;
}
.input{
    background: #0C0E0F;
    border: 1px solid #16191F;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #6C757D;

}
.form-label{
    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}
.text-red-600{
    font-family: 'Poppins', sans-serif !important;
    color: #F2555A !important;
    text-align: end;
}
.submitButton{
    background: #023E8A;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}
.cancelButton{
    background: #08090A;
    border: 1px solid #16191F;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}
.forgotpwd{
    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
    color: #6C757D;
}
.logoname{
    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.logoname-menu{
    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.robotimg{
    width: 428px;
    height: 526px;
}
.bg-color{
    background: linear-gradient(180deg, rgba(0, 150, 199, 0) 50%, #0096C7 500%);
    min-height: 100vh;
    height: 100vh;
    padding: 10px;
    overflow-y: auto;
}
.when-active{
    background: linear-gradient(90deg, rgba(2, 62, 138, 0.24) 50%, rgba(2, 62, 138, 0) 120%) !important;
    border-left: 3px solid #0096C7 !important;
}
a:active{
    color: #0096C7 !important;
}
.footer-menu{
    width: 199.06px;
    height: 243.06px;
}
.content-header{
    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}
.side-menu{
    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;

}
.side-menu:hover :active{
    color:#0096C7;
}
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
